#name{
    color: brown;
    text-align: center;

}
.orangeline{
    color:#ffa450;
    font-size: 30px;

}
.blackline
{

    color: rgb(red, rgb(0, 0, 0), blue);

}

#title{
    font-family: 'Courier New', Courier, monospace;


}